body {
    background: #141414;
    box-sizing: border-box;
    color: #ffffff;
}

.movie-app>.row {
    flex-wrap: nowrap;
    overflow-x: auto;
}

.image-container {
    cursor: pointer;
    transition: transform 0.2s;
}

.image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    transition: ease-in;
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}